@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500;600&display=swap');

/* Keyframes. For animations :) */
@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}

@keyframes text {
    0% {
        color: rgba(255, 255, 255, 0);
    }

    30% {
        letter-spacing: 10px;
    }

    85% {
        letter-spacing: 7px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    --white: #FFFFFF;
    --black: #000000;
    --main-aqua: #6BBAA7;
    --sunflower: #FBA100;
    --lavender-dark: #47425B;
    --background-btn: rgba(0, 0, 0, 0.25);
    --boxshadow-btn: 10px 10px 15px -10px rgba(0, 0, 0, 0.75);
    --background-input: rgba(0, 0, 0, 0.45);
    --boxshadow-input: 10px 10px 15px -10px rgba(0, 0, 0, 0.75);
}

body {
    overflow-x: hidden;
    font-family: 'Space Grotesk', sans-serif;
    /* background-color: rgba(107,186,167,0.50); */
    background-image: url('/assets/img/conchalio-beach-1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

p, h1, h2, h3 {
    color: var(--white);
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track, .carrousel::-webkit-scrollbar-track {
    background-color: var(--main-aqua);
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: #6d6d6d;
}
.carrousel::-webkit-scrollbar-thumb{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
.carrousel::-webkit-scrollbar {
    width: 2px;
}
.carrousel::-webkit-scrollbar-track{
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
.landing {
    height: 80vh;
}

/* Hamburguer Menu */
.hamburguer-button {
    padding: 40px 40px;
    position: relative;
    z-index: 10;
}

.hamburguer-button img {
    vertical-align: top;
    width: 50px;
    cursor: pointer;
}

nav {
    position: fixed;
    background-color: rgb(42, 42, 42);
    width: 300px;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all .5s ease;
    z-index: 5;
}

nav ul {
    padding: 100px 0px 20px 0px;
    list-style: none;
}

nav ul li {
    display: block;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 50px;
    cursor: pointer;
}

nav ul li a {
    color: var(--white);
    text-decoration: none;
}

/* Hamburguer Menu styles for JS */
.active-menu {
    transform: translate(-600px);
    box-shadow: 100px 0px 0px 0px rgba(0,0,0,0.75);
}

.opacity-menu {
    background-color: rgba(0, 0, 0, 0.50);
    transition: all .5 ease;
}

/* Landing */
.landing-text {
    text-align: center;
    margin-top: 150px;
}

.landing-text img {
    width: 150px;
    height: 150px;
    /* border-radius: 100%; */
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    animation: morph 6s ease-in-out infinite;
}

.landing-text h1 {
    transform: translate(0%, 0%);
    /* Here is where we use the text keyframe */
    animation: text 3s 1;
    text-align: center;
    letter-spacing: 7px;
    font-size: 22px;
    margin: 6px 0 6px;
    text-shadow: 4px 5px 8px var(--black);

}

.landing-text a {
    color: var(--white);
}

.landing-text p {
    font-size: 16px;
    margin: 0 auto 12px;
    width: 80%;
}

.landing .landing-button {
    border: none;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 50px;
    cursor: pointer;
    background: var(--background-btn);
    transition: 0.5s;
    display: grid;
    margin: 0 auto;
    box-shadow: var(--boxshadow-btn);
}

.landing .landing-button a {
    display: block;
    padding: 20px 55px;
    text-decoration: none;
    color: var(--white);
}
.landing .landing-button:focus a{
    color: var(--black);
}

.landing .landing-button:hover, header nav ul li>a:hover {
    color: var(--black);
    transform: scale(1.02);
    background: #ffffffa1;
}

/* Projects Section */
.projects h2 {
    font-size: 32px;
    text-align: center;
    padding-bottom: 12px;
}

/* Project Search Bar */
.projects-search {
    display: flex;
    margin: 0 auto;
    width: 60%;
    background: var(--background-input);
    border-radius: 50px;
    box-shadow: var(--boxshadow-input);
}

.projects-search-input {
    padding: 8px 14px 8px;
    background: none;
    border: none;
    outline: none;
    /* outline: none; */
    color: var(--white);
}

.projects-search input::placeholder {
    font-family: 'Space Grotesk', sans-serif;
}

/* Project Search Icon (Magnifying Glass) */
.projects-search-icon {
    background-image: url('https://cdn3.iconfinder.com/data/icons/unicons-vector-icons-pack/32/search-512.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 26px;
    height: 26px;
    margin-top: 2px;
    margin-left: 4px;
}

/* Projects slider */
.project-slides {
    margin: 34px 16px;
}

.project-card-container {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    position: relative;
    scroll-snap-align: center;
    width: 80%;
    min-width: 240px;
    height: 480px;
    margin: 0 auto;
    padding: 14px;
    backdrop-filter: blur(2px) opacity(100%);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
}
.project-card-container h3{
    text-align: center;
    margin-bottom: 12px;
}
.project-card-container img {
    width: 180px;
    height: 180px;
    display: block;
    margin: auto;
}
.project-card-container p{
    margin-top: 20px;
}
.project-container--slider{
    display: flex;
    gap: 40px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    height: 486px;
}

.project-container--slider::-webkit-scrollbar{
    display: none;
}