:root{
    --off-white: #fcf4e6;
    --off-black: #2d2e27;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url('../assets/backgrounds/bk-semicircles-pattern.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: var(--off-black);
}
html{
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
}

header .window-nav{
    width: 100%;
    border-radius: 0;
}
header nav img{
    height: 30px;
    width: 30px;
}
.window{
    width: 75%;
    background: var(--off-white);
    margin: 0 auto;
    border-radius: 7px;
    box-shadow: 2px 2px 0px 5px rgba(45,46,39,1);
}
.main-window--header{
    margin-top: 28px;
    height: 40px;
    padding: 4px 8px;
    display: table;
}
.main-window--header h1{
    display: table-cell;
    vertical-align: middle;
}
.window-body--header{
    height: 22px;
}

/* Window icons */
.main-window--body .window-body--header, 
.project-window--body .window-body--header{
    display: flex;
    justify-content: flex-end;
}
.window--body .window-body--header{
    display: flex;
    justify-content: space-between;
}
.window--icons img{
    height: 14px;
    width: 14px;
    margin: 4px 4px 0 0;
}

/* Horizontal line */
hr{
    height: 3px;
    background-color: var(--off-black);
    color: var(--off-black);
    border: none;
}
.window--body{
    margin-top: 50px;
}
.main-window--body{
    margin-top: 24px;
}

.window-body--content{
    padding: 6%;
}
/* My photo */
.main-photo{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

/* Django logo */
.second-window--body img{
    height: 60px;
    width: 140px;
}

/* PROJECTS PAGE */
.projects-container{
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            280px,
            1fr
        )
    );
    gap: 16px
}